<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!-- <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

        <header>
            <div class="title">
                News Sentiment Detector
            </div>
            <!-- <div class="nav">
                navigation
            </div> -->
        </header>

        <main>
            <section>
                <!-- <input id="input" type="text" name="input" value="" placeholder="URL or Text"> -->
                <textarea id="input" type="text" name="input" value="" placeholder="URL or Text"></textarea>
                <div class="format-select-box">
                    <!-- <p>Select the news format:</p> -->
                    <select id="selected-format">
                        <option value="0">Select news format:</option>
                        <option value="1">URL</option>
                        <option value="2">Text</option>
                    </select>
                </div>
                <form class="submit" onsubmit="return Client.handleSubmit(event)">
                    <input id="submit-button" type="submit" name="" value="Get Sentiment" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <div class="results-card">
                    <!-- <p id="test-col">Test</p> -->
                    <div id="results-header"></div>
                    <div id="sentiment"></div>
                    <div id="agreement"></div>
                    <div id="subjectivity"></div>
                    <div id="irony"></div>
                    <div id="confidence"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>Contact |</p>
        </footer>

    </body>
</html>
